In [40]:
# create empty tuple
t = ()
print(type(t))
t

<class 'tuple'>

()

In [4]:
# create homogenous tuple
t = (1,2,3,4)
t

(1, 2, 3, 4)

In [6]:
# create hetrogenous tuple

t = ("narendra","pankaj",1,2,3,4.7,2+5j)
t

('narendra', 'pankaj', 1, 2, 3, 4.7, (2+5j))

In [8]:
# create tuple with single element it will not work so for creatig single element tuple need to give comma after element
t = (1)
print(type(t))

tuple2 = ("Hello")

print(type(tuple2))

<class 'int'>
<class 'str'>

In [9]:
tuple1 = (5,)
print(type(tuple1))

<class 'tuple'>

In [11]:
# we can use tuple function to create tuple but it work only for itterable


t3 = tuple("narendra")
print(t3)
print(type(t3))
t4 = tuple(5)
print(type(t4))

('n', 'a', 'r', 'e', 'n', 'd', 'r', 'a')
<class 'tuple'>

TypeError: 'int' object is not iterable

In [12]:
# we can directly create tuple using list

tuple6 = tuple([1,2,3,4,5])
print(tuple6)
print(type(tuple6))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [13]:
# access element from tuple 
t3[0]

'n'

In [14]:
t4 = (1,2,3,4,(6,7))
print(t4)

(1, 2, 3, 4, (6, 7))

In [17]:
t4[4][0]

6

In [18]:
t4[-1][0]

6

In [21]:
# edit not possible in tuple so it is called immutable will get error 'tuple' object does not support item assignment
t4[0] = 100

TypeError: 'tuple' object does not support item assignment

In [23]:
# Adding items not possible in tupe because of immutability

In [25]:
# deleting some items from tuple is not possible due to immutability
del t4[-1]

TypeError: 'tuple' object doesn't support item deletion

In [26]:
# tuple concatinate is possible in tuple but result will be new tuple

In [27]:
t1 = (1,2,3,4,5)
t2 = (6,4,"narendra",8)
t1+t2

(1, 2, 3, 4, 5, 6, 4, 'narendra', 8)

In [28]:
1 in t2

False

In [29]:
len(t1)

5

In [30]:
min(t1)

1

In [32]:
max(t2) # min max function will work in thes same datatype

TypeError: '>' not supported between instances of 'str' and 'int'

In [33]:
max(t1)

5

In [34]:
sum(t1)

15

In [36]:
sorted(t1) # when apply sorted function on tuple it will give sorted list

[1, 2, 3, 4, 5]

In [37]:
# tuple is read only datatype we can't modify once created