String are sequence of Character
In python specifically, string are a sequence of unicode characters
* Creating Strings
* Accessing Strings
* Adding Charecter to strings
* Editing Strings
* Deleting Strings
* Operations on Strings
* String Function

In [1]:
# creating string 
c = "Hello"
print(c)

Hello

In [3]:
"it's raning outside"

"it's raning outside"

In [4]:
"""Hey How are you"""

'Hey How are you'

In [8]:
str("how are you")

'how are you'

### Accessing Substring from a String

In [10]:
# indexing 
c = "Narendra"
print(c)

Narendra

In [11]:
print(c[0])

N

In [12]:
print(c[6])

r

In [14]:
c[::-1]

'ardneraN'

### Edit and Delete String in Python

In [16]:
c = "Hello"
print(c)

Hello

In [18]:
c[0] = "X"

TypeError: 'str' object does not support item assignment

In [27]:
c = "World"
print(c)

World

* It's mean string is Immutable Data type we can't make change in same string
* But we can reassign the new string to this variable

In [28]:
# We are not able to add new thing in string
c[5] = "X"

TypeError: 'str' object does not support item assignment

In [29]:
# Deleting is possible in string
del c

In [30]:
c

NameError: name 'c' is not defined

In [32]:
# this is not possible because string is immutable
c = "abcd"
del c[0]

TypeError: 'str' object doesn't support item deletion

In [33]:
del c[:]

TypeError: 'str' object does not support item deletion

### Operation On Strings
* Arthmetic Operations
* Relational Operations
* Logical Operations
* Loops on strings
* Membership Operations

In [34]:
"abc" + "World"

'abcWorld'

In [35]:
print("*" * 50)

**************************************************

In [36]:
print("Hello" * 6)

HelloHelloHelloHelloHelloHello

In [45]:
"Hello" = "World"

SyntaxError: cannot assign to literal (2503666164.py, line 1)

In [37]:
"Hello" == "World"

False

In [38]:
"Hello" != "World"

True

In [42]:
"Hello" > "World" # here comprasion will be based on Lexiographicaly and also look for ASCII value

False

In [43]:
"hello" > "World" # here comprasion will be based on Lexiographicaly and also look for ASCII value

True

* Empty string boolean value is always false
* If string is space then also value will be True
* If strings is non empty boolean value will always True

In [51]:
"Hello" and "Hello"

'Hello'

In [52]:
"Hello" and "Hello1"

'Hello1'

In [44]:
"Hello" and "World"

'World'

In [49]:
"" and "World"

''

In [50]:
" " and "World"

'World'

In [53]:
"Hello" or "Hello1"

'Hello'

In [55]:
"" or "World"

'World'

In [56]:
" " or "World"

' '

In [57]:
"Hello" or "World"

'Hello'

In [59]:
c = "Hello World" # looping in string
for i in c:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [60]:
c = "Hello World" # looping in string
for i in c[::-1]:
    print(i)

d
l
r
o
W

o
l
l
e
H

### common function on iterrable here in (strings)
* len
* max
* min
* sorted

In [61]:
c = "kolkata"
len(c)

7

In [62]:
max(c)

't'

In [63]:
min(c)

'a'

In [65]:
sorted(c) # it will return in assending order

['a', 'a', 'k', 'k', 'l', 'o', 't']

In [66]:
sorted(c, reverse=True)

['t', 'o', 'l', 'k', 'k', 'a', 'a']

### Pure String function
1. Capitalize/title/upper/lower/swapcase

In [67]:
c

'kolkata'

In [68]:
c.capitalize()

'Kolkata'

In [72]:
print(c.title())

"Hi how are you?".title()

Kolkata

'Hi How Are You?'

In [70]:
c.upper()

'KOLKATA'

In [71]:
c.lower()

'kolkata'

In [74]:
print(c)
c.swapcase()

kolkata

'KOLKATA'

### 2. count()

In [76]:
# count() is use to count the particular sub iterable in itrable 

"it is raining".count("i")

4

In [77]:
"it is raining how are you? what are you doing now?".count("ng")

2

### 3. find()/index()

In [78]:
"it is raining".find("x") # string is avilable

-1

In [80]:
"it is raining".find("n") # first occurance of the substring in string

9

In [81]:
"it is raining".index("n")

9

In [82]:
"it is raining".index("k")

ValueError: substring not found

In [84]:
"it is raining".endswith("n")

False

In [85]:
"it is raining".endswith("g")

True

In [86]:
"it is raining".startswith("n")

False

### 4. formate()

In [89]:
"Hello my name is {} and I am {}".format("Nitish", 30)

'Hello my name is Nitish and I am 30'

In [90]:
"Hello my name is {0} and I am {1}".format("Nitish", 30)

'Hello my name is Nitish and I am 30'

In [92]:
"Hello my name is {1} and I am {0}".format(30, "Narendra")

'Hello my name is Narendra and I am 30'

In [93]:
"Hello my name is {name} and I am {age}".format(age=30, name="Narendra")

'Hello my name is Narendra and I am 30'

### 5. isalnum/isalpha/isdecimal/isdigit/isidentifier

In [98]:
"FLAT20".isalnum()

True

In [97]:
"FLAT20".isalpha()

False

In [99]:
"20A".isdigit()

False

In [100]:
"Hello_world".isidentifier()

True

In [101]:
"Hello world".isidentifier()

False

### 6. Split / join

In [103]:
a = "Hi Narendra how are you?".split()

In [104]:
a

['Hi', 'Narendra', 'how', 'are', 'you?']

In [106]:
" ".join(a)

'Hi Narendra how are you?'

In [108]:
"-".join(a)

'Hi-Narendra-how-are-you?'

### 7. replace

In [111]:
"Hi my name is Narendra".replace("Narendra","Amit")

'Hi my name is Amit'

### 8. Strip

In [112]:
"   Hi my name is Narendra   ".strip()

'Hi my name is Narendra'