## List
* list can be hetrogenous
* Array store data in memory on continus location but not nessessry in list 
* Array are much faster
* list is mutable

In [1]:
# Create empty list
a = []
a

[]

In [2]:
# Homogenous list data
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [3]:
# Hetrogenous data list
a1 = [1,2,"Hello", True, 5+9j]
a1

[1, 2, 'Hello', True, (5+9j)]

In [4]:
# Multidimantional list
# 2D list

l2 = [[1,2,3,4],[2,3,4,5]]
l2

[[1, 2, 3, 4], [2, 3, 4, 5]]

In [5]:
# 3D list

l3 = [[[1,3,4],[3,5,6]],[[5,4,3],[3,4,7]]]
l3

[[[1, 3, 4], [3, 5, 6]], [[5, 4, 3], [3, 4, 7]]]

In [6]:
# Making list with type conversion

l = list("Narendra")
l

['N', 'a', 'r', 'e', 'n', 'd', 'r', 'a']

In [7]:
# Empty list with type conversion

l1 = list()
l1

[]

In [8]:
# Access element from list

l[0]

'N'

In [9]:
l[-1]

'a'

In [10]:
l[1:3]

['a', 'r']

In [11]:
l[::-1]

['a', 'r', 'd', 'n', 'e', 'r', 'a', 'N']

In [12]:
l4 = [1,2,3,[4,5,6]]
l4

[1, 2, 3, [4, 5, 6]]

In [13]:
# Extract 4 from ablove list

l4[3][0]

4

In [14]:
# Extract 4 from ablove list

l4[-1][0]

4

In [15]:
l3

[[[1, 3, 4], [3, 5, 6]], [[5, 4, 3], [3, 4, 7]]]

In [16]:
# Extract 7 from above list
l3[-1][-1][-1]

7

In [17]:
# Extract 7 from above list
l3[1][1][2]

7

In [18]:
a1

[1, 2, 'Hello', True, (5+9j)]

In [19]:
# Changing data in list

a1[0] = 100
a1

[100, 2, 'Hello', True, (5+9j)]

In [20]:
# Changing data in list using slicing 
k = [1,2,3,4,5,6]
print(k)
k[:3] = [8,9,0]
k

[1, 2, 3, 4, 5, 6]

[8, 9, 0, 4, 5, 6]

In [21]:
# Changing data in list using slicing 
print(a1)
a1[0:3] = [1,300,"Yadav"]
a1

[100, 2, 'Hello', True, (5+9j)]

[1, 300, 'Yadav', True, (5+9j)]

In [22]:
# Add new items in list
# Adding items in list using append
l1 = [2,4,6,8]
l1.append(100)
l1

[2, 4, 6, 8, 100]

In [23]:
# Adding items in list using append
l1.append("Hello")
l1

[2, 4, 6, 8, 100, 'Hello']

In [24]:
# Adding items in list using append
l1.append(["Morning", "How", 15, 16])
l1

[2, 4, 6, 8, 100, 'Hello', ['Morning', 'How', 15, 16]]

In [25]:
# Append multiple items together
l1.extend([12,13,14])
l1

[2, 4, 6, 8, 100, 'Hello', ['Morning', 'How', 15, 16], 12, 13, 14]

In [26]:
# Append one items together
l1.extend([12])
l1

[2, 4, 6, 8, 100, 'Hello', ['Morning', 'How', 15, 16], 12, 13, 14, 12]

In [27]:
# Append one items and item is not iterable it will give erroe object items not itterable
l1.extend(17)
l1

TypeError: 'int' object is not iterable

In [28]:
# Append one items and item is iterable it will convert itrable to a list and add that list as one item in end of the list
l1.extend("Yadav")
l1

[2,
 4,
 6,
 8,
 100,
 'Hello',
 ['Morning', 'How', 15, 16],
 12,
 13,
 14,
 12,
 'Y',
 'a',
 'd',
 'a',
 'v']

In [29]:
# Add items in list on particular location using insert function

l1.insert(1,'world')
l1

[2,
 'world',
 4,
 6,
 8,
 100,
 'Hello',
 ['Morning', 'How', 15, 16],
 12,
 13,
 14,
 12,
 'Y',
 'a',
 'd',
 'a',
 'v']

In [33]:
# delete items from list 

l4 = [1,5,9,"narendra", 5+7j]
l4

[1, 5, 9, 'narendra', (5+7j)]

In [34]:
# if we like to print the l4 will give error because l4 is deleted
del l4
l4

NameError: name 'l4' is not defined

In [36]:
# delete items from list 

l4 = [1,5,9,"narendra", 5+7j]
print(l4)
del l4[0]
l4

[1, 5, 9, 'narendra', (5+7j)]

[5, 9, 'narendra', (5+7j)]