## Dictionary
* Dictionary has no indexing 
* Dictionary has mutable datatype
* Dictionary key will always immutable, value can be mutable
* Key should be unique

In [6]:
# create empty dictinory
d = {}
d

{}

In [7]:
# creating dictionary
d1 = {"Name":"Narendra", "Gender":"Male"}
d1

{'Name': 'Narendra', 'Gender': 'Male'}

In [9]:
# dictnory key is immutable if we try with mutable data type we get error unhashable type: 'list'
d2 = {[1,2,3]:"Narendra"}

TypeError: unhashable type: 'list'

In [10]:
# dictnory key is immutable if we try with mutable data type we get error unhashable type: 'list' but here we will not get any error
d2 = {(1,2,3):"Narendra"}

In [12]:
d2

{(1, 2, 3): 'Narendra'}

In [14]:
# we will duplicate keys then every key have one istance and very recent (last) instance will be apper for that key
d3 = {"Name":"Narendra", "Name":"Rahul","Name":"Vipin"}
d3

{'Name': 'Vipin'}

In [15]:
# creating 2D dictinory 
d4 = {"Name":"Rohit","college":"IITJ","Marks":{"sub1":67,"sub2":78,"sub3":77}}
d4

{'Name': 'Rohit',
 'college': 'IITJ',
 'Marks': {'sub1': 67, 'sub2': 78, 'sub3': 77}}

In [16]:
# creating 3D dictinory 
d5 = {"Name":"Rohit","college":"IITJ","Marks":{"sub1":{"sub1_pre":28,"sub1_thr":57},"sub2":78,"sub3":77}}
d5

{'Name': 'Rohit',
 'college': 'IITJ',
 'Marks': {'sub1': {'sub1_pre': 28, 'sub1_thr': 57}, 'sub2': 78, 'sub3': 77}}

In [17]:
# fatching the value from dictinory always possible using key
d5["Name"]

'Rohit'

In [18]:
d5["college"]

'IITJ'

In [22]:
d5["Marks"]["sub1"]["sub1_pre"]

28

In [25]:
# Edit value in dict 

d5["college"] = "Tezpur University"

In [26]:
d5

{'Name': 'Rohit',
 'college': 'Tezpur University',
 'Marks': {'sub1': {'sub1_pre': 28, 'sub1_thr': 57}, 'sub2': 78, 'sub3': 77}}

In [27]:
# for 1D dictinory we can access value using get funtion also
d5.get("Name")

'Rohit'

In [28]:
# How to add new item in dictinory (new key value pair )
d5["age"] = 28

In [29]:
d5

{'Name': 'Rohit',
 'college': 'Tezpur University',
 'Marks': {'sub1': {'sub1_pre': 28, 'sub1_thr': 57}, 'sub2': 78, 'sub3': 77},
 'age': 28}

In [32]:
d5["Marks"]["sub2"]={'sub2_pre': 26, 'sub2_thr': 59}

In [33]:
d5

{'Name': 'Rohit',
 'college': 'Tezpur University',
 'Marks': {'sub1': {'sub1_pre': 28, 'sub1_thr': 57},
  'sub2': {'sub2_pre': 26, 'sub2_thr': 59},
  'sub3': 77},
 'age': 28}

In [35]:
# Delete value from Dictitonary
d6 ={}
d6

{}

In [36]:
del d6

In [37]:
d6

NameError: name 'd6' is not defined

In [38]:
d6 = {"Name":"Narendra", "Home_address":"Abadan Urf Bairan", "Distt":"Ghazipur"}
d6

{'Name': 'Narendra', 'Home_address': 'Abadan Urf Bairan', 'Distt': 'Ghazipur'}

In [39]:
del d6["Distt"]

In [40]:
d6

{'Name': 'Narendra', 'Home_address': 'Abadan Urf Bairan'}

In [41]:
# clear function use to empty the dictnory
d6.clear()

In [42]:
d6

{}

In [43]:
# opration on dictnory
d1

{'Name': 'Narendra', 'Gender': 'Male'}

In [44]:
d2

{(1, 2, 3): 'Narendra'}

In [45]:
d3

{'Name': 'Vipin'}

In [46]:
d4

{'Name': 'Rohit',
 'college': 'IITJ',
 'Marks': {'sub1': 67, 'sub2': 78, 'sub3': 77}}

In [47]:
# concatnation will not  work for dictinary
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [48]:
# Multiplication will not  work for dictinary
d1*d2

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [50]:
# when you will itterate over the dict you will only get the key in normal for loop
for i in d1:
    print(i)

Name
Gender

In [54]:
# for getting the all values from dictinory using for loop 
for i in d1:
    print(i,d1[i])

Name Narendra
Gender Male

In [55]:
# in dictnory membership operator will also work
"Narendra" in d1

False

In [57]:
"Gender" in d1 # member ship operator serch in key only

True

In [60]:
# function for dictinory
len(d1)

2

In [61]:
min(d1)

'Gender'

In [62]:
max(d1)

'Name'

In [64]:
sorted(d1)

['Gender', 'Name']

In [65]:
d1.keys() # will give list of all keys

dict_keys(['Name', 'Gender'])

In [66]:
d1.values()  # will give all the values of dictinory

dict_values(['Narendra', 'Male'])