## Sets
* sets do not allow duplicate 
* sets have no index so slicing not possible
* set do not allow mutable data type
* Sets itself is a mutable data type
* set is mutable it's mean sets can't have sets as element because sets element is immutable so 2D, 3D sets not possible
* sets not fallow indexing fallow hashing

In [3]:
# creating set 

s1 = {1,2,3}
print(s1)
type(s1)

{1, 2, 3}

set

In [5]:
# creating emply set is tricky

s2 = {}

print(s2)
print(type(s2))

s3 = set()
print(s3)
print(type(s3))

{}
<class 'dict'>
set()
<class 'set'>

In [6]:
# creating homogenious sets

s4 = {2,3,4,5,6}
print(s4)
print(type(s4))

{2, 3, 4, 5, 6}
<class 'set'>

In [7]:
# creating hetrogenous set 

s5 = {2,3,4,"Narendra",4.5}
print(s5)
print(type(s5))

{2, 3, 4.5, 4, 'Narendra'}
<class 'set'>

In [8]:
# sets does not allow duplicate

s6 = {1,2,3,4,3,4,1,2,7}
print(s6)

{1, 2, 3, 4, 7}

In [10]:
# sets don't allow mutable data type we get error TypeError: unhashable type: 'list'

s7 = {1,2,3,4,[1,2,3,4,5,6,7]}
print(s7)
print(type(s7))

TypeError: unhashable type: 'list'

In [11]:
# sets allow immutable itterable data type as one element

s8 = {1,2,3,4,(1,2,3,4,5,6,7)}
print(s8)
print(type(s8))

{1, 2, 3, 4, (1, 2, 3, 4, 5, 6, 7)}
<class 'set'>

In [12]:
# sets not fallow indexing its fallow hashing 

set1 = {1,2,3,4,"Narendra", (6,7,8)}
set1

{(6, 7, 8), 1, 2, 3, 4, 'Narendra'}

In [13]:
# 2D sets are not possible so we get TypeError: unhashable type: 'set'
set2 = {{1,2,3},{4,5,6}}
set2

TypeError: unhashable type: 'set'

In [14]:
# Accessing items from set

In [16]:
set1[0] # will get error 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [25]:
# not able access items in sets
# not edit items in sets
# set is mutable so we can add items its mean we can modify set at same memory location

In [33]:
set3 = {1,2,3,4}
print(id(set3))
set3.add(6)

139954597758784

In [34]:
set3  # its mean we can add element in set and it should be non mutable data type

print(id(set3))

139954597758784

In [35]:
# delet remove and pop in set 
# del will not work for item/items in sets
del set3[0]

TypeError: 'set' object doesn't support item deletion

In [36]:
# remove function work in set and it will remove elements from same set

print(set3)
print(id(set3))
set3.remove(3)
print(set3)
print(id(set3))

{1, 2, 3, 4, 6}
139954597758784
{1, 2, 4, 6}
139954597758784

In [38]:
# pop function work in set and it will remove elements from same set based on hashindex

print(set3)
print(id(set3))
set3.pop() # it will remove last element from the set but based on hash index
print(set3)
print(id(set3))

{1, 2, 4, 6}
139954597758784
{2, 4, 6}
139954597758784

In [39]:
# Set Operations

In [40]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9,0}

In [42]:
# sets not able to concatnite getting erroe unsupported operand type(s) for +: 'set' and 'set'
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [44]:
# sets not able to multiply getting erroe unsupported operand type(s) for *: 'set' and 'set'
s1*s2

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [45]:
# loop will work on sets

for i in s1:
    print(i)

1
2
3
4
5
6

In [46]:
1 in s1 # membership oprator supported by set

True

In [47]:
# len function will work for set
len(s1)

6

In [48]:
min(s1)

1

In [49]:
max(s1)

6

In [50]:
sum(s1)

21

In [51]:
sorted(s1)

[1, 2, 3, 4, 5, 6]

In [53]:
sorted(s1, reverse=True)

[6, 5, 4, 3, 2, 1]

In [54]:
s1.union(s2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
s1.intersection(s2)

{4, 5, 6}

In [56]:
s1.difference(s2)

{1, 2, 3}

In [57]:
s1.symmetric_difference(s2)

{0, 1, 2, 3, 7, 8, 9}

In [58]:
s1.isdisjoint(s2)

False

In [60]:
s1.issubset(s2)

False

In [61]:
s1.issuperset(s2)

False

In [62]:
s2.clear()