### Operators 
Operators are special symbols or characters that perform operations on operands (values or variables).

### 1. Arithmetic Operators

In [1]:
x = 5
y = 3

In [2]:
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** y)

8
2
15
1.6666666666666667
1
2
125

### 2. Assignment Operators

In [11]:
x = 10
print(x)
name = "John"
print(name)

x = 5
x += 3  # Equivalent to x = x + 3
print(x)  # Output: 8

x = 10
x -= 4  # Equivalent to x = x - 4
print(x)  # Output: 6

x = 3
x *= 5  # Equivalent to x = x * 5
print(x)  # Output: 15

x = 20
x /= 4  # Equivalent to x = x / 4
print(x)  # Output: 5.0

x = 13
x %= 5  # Equivalent to x = x % 5
print(x)  # Output: 3

x = 2
x **= 3  # Equivalent to x = x ** 3
print(x)  # Output: 8

x = 17
x //= 4  # Equivalent to x = x // 4
print(x)  # Output: 4

10
John
8
6
15
5.0
3
8
4

### 3. Comparison Operators

In [13]:
x = 10
y = 13

print(x > y)
print(x < y)
print(x == y)
print(x != y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

### 4. Logical Operators

In [14]:
x = True
y = False

print(x or y)
print(x and y)
print(not y)

True
False
True

### 5. Bitwise Operators

In [17]:
x = 2
y = 3

# bitwise operators always work on binary value
# 010
# 110
# ----
# 010

print(x & y)
print(x | y)
print(x >> 2)
print(y << 3)
print(~x)

2
3
0
24
-3

### 6. Membership Operators

In [22]:
x = "Delhi"
print("D" in x)
print("l" not in x)

x = [1,2,3,4]
print(1 in x)

x = (1,2,3,4)
print(5 in x)

True
False
True
False

### 7. Identity Operators

In [25]:
a = "Narendra"
b = "Narendra"

print(a is b)
print(a is not b)

True
False